.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}
.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 15px;
}
.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 3px 0  0 3px;
}
.headericon {
    background-color: #cd9042;
    padding: 9px;
    height: 15px;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
}
.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header_nav {
    display: flex;
    justify-content: space-evenly;
}
.header_optionLineOne {
    font-size: 10px;
}
.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    margin-top: 3px;
}
.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.header_optionLineTwoheader_basketCount {
    margin-right: 10px;
    margin-left: 10px;
}
.homelogin {
    text-decoration: none;
    color: white;
}
.orderlist {
    text-decoration: none;
    color: white;
}
