@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
* {font-family: 'Noto Sans KR', sans-serif;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ps {
  margin-bottom: 7px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.abs {
  text-align: center;
  /* margin-right: 100px; */
}

#pc-p {
  margin-left: 820px;
}

#pc-photo {
  z-index: 1;
  width: 360px;
  height: 190px;
  margin-top: -78px;
  margin-right: 250px;
}

.photo {
  width: 185px;
  height: 125px;
  left: 450px;
  /* margin-top: 19.9px; */
  margin-left: 40px;
  /* margin-right: 16px; */
  align-items: flex-end;

}

.bts {
  text-align: center;
  align-items: center;
  font-size: 29px;
  padding: 3.3px;
  border-radius: 12px 12px 0px 12px;
  border: #163064 solid;
  border-bottom: solid;
  color: #163064;
}

.h2s {
  display: flex;
  text-align: center;
  margin-left: 16rem;
  justify-content: center;

}

.zi {
  z-index: 2;
}

.chart {
  width: 100%;
}

.cm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.mobile-photo {
  margin-right: 10px;
}

#mobile-info {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  width: 95%;
  margin-left: 2.5%;
}

.mo-map {
  border-top: 15px solid rgb(239, 195, 92);
  border-radius: 0 0 12px 12px;
}


/* 수정 */
.mb {
  margin-bottom: 30px;
}

.cm-bc {
  background-color: white;
}

/* 추가 */
#chartStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#circle1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#circle1 svg {
  text-align: center;
}
#chartStyle h3 {
  text-align: center;
}
#circles{
  display: flex;
  justify-content: space-around;
}
.recharts-pie-labels>g:first-of-type {
  display: none;
}
/* 여기까지 */

body {
  background-color: rgb(239, 195, 92);
}

.radius {
  border-radius: 12px;
}

.border {
  border: 2px;
  border-radius: 12px;

}

.ch-l {
  border-left: 15px solid rgb(239, 195, 92);
}

.chart-width {
  width: 90%;

}


.td {
  text-decoration: underline;
}

.font-col {
  color: #163064;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.fb {
  display: flex;
  justify-content: space-between;
}

.pfs {
  font-size: 18px;
  white-space: nowrap;
  padding-bottom: 1rem;
  text-align: right;
}


/* 반응형 */
#pc-header {
  display: none;
}

@media (min-width: 1024px) {
  #mobile-header {
    display: none;
  }

  #pc-header {
    display: inline-block;
    /* height: 46.3px;
        width: 500px; */
    text-align: center;
    margin-left: 734.5px;

  }
}

#pc-p {
  display: none;
}

@media (min-width: 1024px) {
  #mobile-p {
    display: none;
  }

  #pc-p {
    display: block;
  }
}

#pc-photo {
  display: none;
}

@media (min-width: 1024px) {
  #mobile-photo {
    display: none;
  }

  #pc-photo {
    display: flex;

  }
}

/* 셀렉트 버튼 */
#selector {
  width: 7rem;
  position: relative;
}
#selector > button {
  border: 4px solid black;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 1rem;

}
#list {
  background-color: rgb(239, 195, 92);
  position: absolute;
  left: 16px;
  width: 100%;
  z-index: 10;
  border: 4px solid black;
  height: 20rem;
  overflow: auto;
  top: 45px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}


#pc-info {
  display: none;
}

@media (min-width: 1024px) {
  #mobile-info {
    display: none;
  }

  #selector > button {
    margin-left: 0;
    left: 0px;
  }

  #list {
    left: 0px;
  }

  #pc-info {
    display: grid;
  }
}
